@model PizzaNetCommon.Requests.TrioResponse<List<PizzaNetCommon.DTOs.RecipeDTO>, List<PizzaNetCommon.DTOs.SizeDTO>, List<PizzaNetCommon.DTOs.OrderIngredientDTO>>

@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">
    $(document).ready(function () {

        $('#pizza-details').hide();

        $('.recipe-container').mouseenter(function () {
            $(this).animate({
                height: '+=15px'
            });
        });

        $('.recipe-container').mouseleave(function () {
            $(this).animate({
                height: '-=15px'
            });
        });

        $('.recipe-container').click(function () {
            var wasSelected = $(this).hasClass('checked');
            $('.recipe-container').removeClass('checked');
            $('.ingredient-container').removeClass('normal');
            $('.ingredient-container').removeClass('extra');

            if (!wasSelected) {
                $(this).addClass('checked');
                $('#pizza-details').show(500);

                var selected = $(this);

            } else {
                $('#pizza-details').hide(500);
            }

            // Code below is responsible for pre-selecting proper ingredients 
            var array = $(this).children('.recipe-ingredients').children('*');

            for (var i = 0; i < array.length; i++) {
                var ingredientId = $(array[i]).attr('itemid');
                $('#' + ingredientId).addClass('normal');
            }
        });

        $('.ingredient-container').mouseenter(function () {
            $(this).animate({
                height: '+=10px'
            });
        });

        $('.ingredient-container').mouseleave(function () {
            $(this).animate({
                height: '-=10px'
            });
        });

        $('.ingredient-container').click(function () {

            var wasNormal = $(this).hasClass('normal');
            var wasExtra = $(this).hasClass('extra');

            if (wasNormal) {
                $(this).removeClass('normal');
                $(this).addClass('extra');
            } else if (wasExtra) {
                $(this).removeClass('extra');
            } else {
                $(this).addClass('normal');
            }
        });

    });
</script>


<div class="float-left">
    <p id="label-choose-pizzas">
        Choose Pizzas for your order:
    </p>
    <ul class="recipe-list">
        @foreach (var item in Model.First)
        {
            <li>
                <div class="recipe-container" itemid="@item.RecipeID">
                    @Html.DisplayFor(modelItem => item.Name)
                    <br />

                    <p class="recipe-ingredients">
                        @for (int i = 0; i < item.Ingredients.Count - 1; i++)
                        {
                            <span itemid="@item.Ingredients[i].IngredientID">
                                @Html.DisplayFor(modelItem => item.Ingredients[i].Name) /
                            </span>
                        }
                        <span itemid="@item.Ingredients[item.Ingredients.Count - 1].IngredientID">
                            @Html.DisplayFor(modelItem => item.Ingredients[item.Ingredients.Count - 1].Name)
                        </span>
                    </p>
                </div>
            </li>        
        }
    </ul>
</div>

<div class="divider">
</div>

<div id="pizza-details" class="float-right">

    <div class="ingredient-legend">
        <ul class="legend-list">
            <li>
                <div class="quantity-indicator" style="background-color: #999;"></div>
                <span>No ingredient</span>
            </li>
            <li>
                <div class="quantity-indicator" style="background-color: #b6ff00;"></div>
                <span>Normal quantity</span>
            </li>
            <li>
                <div class="quantity-indicator" style="background-color: #ff6a00;"></div>
                <span>Extra Quantity</span>
            </li>
        </ul>
    </div>
    <div class="pizza-info">
        <ul class="ingredients-list">
            @foreach (var ing in Model.Third)
            {
                <li>
                    <div id="@ing.IngredientID" class="ingredient-container">
                        @Html.DisplayFor(modelItem => ing.Name)
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
