@model PizzaNetCommon.Requests.TrioResponse<List<PizzaNetCommon.DTOs.RecipeDTO>, List<PizzaNetCommon.DTOs.SizeDTO>, List<PizzaNetCommon.DTOs.OrderIngredientDTO>>

@{
    ViewBag.Title = "Home Page";
}

<div style="overflow: hidden; display: block;">
    <div class="float-left">
        <p id="label-choose-pizzas">
            Choose Pizzas for your order:
        </p>
        @foreach (var item in Model.First)
        {
            <div class="recipe-container text-selection-disabled" data-recipe-id="@item.RecipeID">
                @Html.DisplayFor(modelItem => item.Name)
                <br />

                <p class="recipe-ingredients">
                    @for (int i = 0; i < item.Ingredients.Count - 1; i++)
                    {
                        <span data-ingredient-id="@item.Ingredients[i].IngredientID">
                            @Html.DisplayFor(modelItem => item.Ingredients[i].Name) /
                        </span>
                    }
                    <span data-ingredient-id="@item.Ingredients[item.Ingredients.Count - 1].IngredientID">
                        @Html.DisplayFor(modelItem => item.Ingredients[item.Ingredients.Count - 1].Name)
                    </span>
                </p>
            </div>
        }
    </div>

    <div class="divider">
    </div>

    <div id="pizza-details" class="float-right">
        <form method="post" action="@Url.Action("AddToOrder")" data-pizza-ajax="true">
            <button class="add-pizza" type="submit">
                Add to order
            </button>
        </form>
        <div class="ingredient-legend">
            <ul class="legend-list">
                <li>
                    <div class="quantity-indicator" style="background-color: #999;"></div>
                    <span>No ingredient</span>
                </li>
                <li>
                    <div class="quantity-indicator" style="background-color: #b6ff00;"></div>
                    <span>Normal quantity</span>
                </li>
                <li>
                    <div class="quantity-indicator" style="background-color: #ff6a00;"></div>
                    <span>Extra Quantity</span>
                </li>
            </ul>
        </div>

        <div class="size-chooser float-left text-selection-disabled">
            S<br />
            m<br />
            a<br />
            l<br />
            l
        </div>

        <div class="pizza-info">
            @foreach (var ing in Model.Third)
            {
                <div data-ingredient-id="@ing.IngredientID" class="ingredient-container text-selection-disabled">
                    @Html.DisplayFor(modelItem => ing.Name)
                </div>
            }
        </div>
    </div>
</div>

<div class="order-list">
    <p class="main-sub-header">Your Order:</p>
    <div class="orders">
    </div>

    <div style="width: 100%; text-align: center;">
        <form id="make-order" action="@Url.Action("MakeOrder")" method="post">
            <button type="submit">
                Make Order
            </button>
        </form>
    </div>
</div>
